<h1>ember-aria-checkbox</h1>
<h3>Sandwich Condiments</h3>
<ul class="checkboxes">
  <li>{{#aria-checkbox}}Lettuce{{/aria-checkbox}}</li>
  <li>{{#aria-checkbox}}Tomato{{/aria-checkbox}}</li>
  <li>{{#aria-checkbox}}Mustard{{/aria-checkbox}}</li>
  <li>{{#aria-checkbox}}Sprouts{{/aria-checkbox}}</li>
</ul>
{{outlet}}
